/* Fonts */
@import url("./fonts/roboto.css");
@import url(root.css);

* {
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--color-primary);
}

.vhPage {
    min-height: 100vh;
}



.textHeader1 {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-tertiary);
}

.textHeader2 {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-tertiary);
}

/* BUTTONS */
.btn-primary-outline {
    box-sizing: border-box;
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    font-family: var(--btn-font-family);
    font-weight: var(--btn-font-weight);
    font-size: var(--btn-font-size);
    color: var(--color-white);
    transition: var(--btn-transition);
}
.btn-primary-outline:hover {
    outline: 0.75px solid var(--color-deep-blue);
}

.btn-primary {
    box-sizing: border-box;
    background-image: linear-gradient(var(--color-deep-blue), var(--color-livid-blue));
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius);
    font-family: var(--btn-font-family);
    font-weight: var(--btn-font-weight);
    font-size: var(--btn-font-size);
    color: var(--color-white);
    transition: var(--btn-transition);
}
.btn-primary:hover {
    outline: 0.75px solid var(--color-aqua);
}

/* Modals */

.modal {
    min-width: 200px;
    min-height: 200px;
    background-color: var(--color-black200);
    border-radius: 6px;
    padding: 20px;
    display: inline-block;
    margin: 5px;
}

.modal .title {
    font-family: "roboto";
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 15px;
}

.modal .content .description {
    font-family: "roboto";
    font-weight: 300;
    font-size: 0.95rem;
    color: var(--color-white);
}